body {
    background-color: #1b1b1b;
    margin: 0px;
    padding: 0px;
    color: rgb(255, 255, 255);
    align-items: center;
    font-family: Arial;
}

/* width */
::-webkit-scrollbar {
    width: 15px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #333333; 
}

h1 {
    font-size: 60px;
    font-family: "Century Gothic";
    text-align: center;
    font-weight: lighter;
}

p, label {
    font-size: 18px;
    font-family: "Microsoft Jhenghei UI Light";
}

form {
    align-items: center;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%;
    height: 8px;
    background: #8b8b8b;
    outline: none;
    opacity: 0.7;
}
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 16px; /* Set a specific slider handle width */
    height: 16px; /* Slider handle height */
    background: #ffffff; /* Green background */
    border-radius: 20px;
}
  
.slider::-moz-range-thumb {
    width: 16px;
    height: 16px; 
    background: #ffffff; 
    border-radius: 20px;
}

.content {
    width: 100%;
    height: 660px;
    background-size: cover;
    display: flex;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.input {
    position: relative;
    text-align: center;
    margin-left: 33%;
    width: 33%;
}

textarea {
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Lucida Console';
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border-radius: 10px;
    border-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-style: solid;
    font-family: 'Microsoft Jhenghei UI Light';
    font-size: 20px;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

.limits-cont {
    display: flex;
    justify-content: space-around;
}

footer {
    margin-right: 30px;
    font-family: 'Lucida Console';
    font-size: 20px;
    text-align: right;
}