<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='js/assets/extensions/markers/markers.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/examples/styles/examples.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/assets/chessboard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/assets/extensions/markers/markers.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/analysis.css') }}">
</head>

<body>
    <div class="sidebar-left">

        <div class="review-container">

            <h1 class="clf-text" id="classification-text"></h1>

            <p id="review-text"></p>

            <h1 class="best-move-text" id="best-move-text"></h1>

        </div>

        <div class="metrics-container">

            <p>Development</p>

            <div class="metric-bar-container">
                <div class="metric-bar" id="dev-bar"></div>
            </div>

            <p>Tension and Pressure</p>

            <div class="metric-bar-container">
                <div class="metric-bar" id="ten-bar"></div>
            </div>

            <p>Mobility</p>

            <div class="metric-bar-container">
                <div class="metric-bar" id="mob-bar"></div>
            </div>

            <p>Control</p>

            <div class="metric-bar-container">
                <div class="metric-bar" id="cont-bar"></div>
            </div>

        </div>

    </div>

    <div class="middlebar">
        
        <div id="board"></div>

    </div>

    <div class="eval-bar-container" id="eval-bar-container">
        <div class="eval-bar" id="eval-bar"></div>
        <div class="eval-bar-tip" id="eval-bar-tip"></div>
    </div>

    <div class="sidebar-right">
        
        <div class="sidebar-right-header">
            <p>Stockfish 16 NNUE</p>
        </div>

        <div class="sidebar-right-moves">

            <div class="accuracyelo-container">
                <div class="accuracyelo-white-cont">
                    <h2 id="accuracy-white">62%</h2>
                    <p>Accuracy</p>
                </div>
                <div class="accuracyelo-black-cont">
                    <h2 id="accuracy-black">62%</h2>
                    <p>Accuracy</p>
                </div>
            </div>

            <div class="accuracyelo-container">
                <div class="accuracyelo-white-cont">
                    <h2 id="elo-white">1280</h2>
                    <p>Estimated ELO</p>
                </div>
                <div class="accuracyelo-black-cont">
                    <h2 id="elo-black">880</h2>
                    <p>Estimated ELO</p>
                </div>
            </div>

        </div>

        <div class="sidebar-right-footer">

            <div class="switch-container">
                <img src="{{ url_for('static', filename='img/switch.svg') }}" onclick="board.setOrientation(board.getOrientation() === 'w' ? 'b' : 'w')">
            </div>

            <div class="arrow-container-left">
                <img src="{{ url_for('static', filename='img/arrowleft.svg') }}">
            </div>

            <div class="arrow-container-right">
                <img src="{{ url_for('static', filename='img/arrowright.svg') }}">
            </div>

        </div>

    </div>
    
</body>


<script type="module">
    // IMPORTS -------------------------------------------------------------------------------------------

    import {INPUT_EVENT_TYPE, COLOR, Chessboard, BORDER_TYPE} from "{{ url_for('static', filename='js/src/Chessboard.js') }}"
    import {FEN} from "{{ url_for('static', filename='js/src/model/Position.js') }}"
    import {MARKER_TYPE, Markers} from "{{ url_for('static', filename='js/src/extensions/markers/Markers.js') }}"
    import {Chess} from "https://cdn.jsdelivr.net/npm/chess.mjs@1/src/chess.mjs/Chess.js"
    import {Accessibility} from "{{ url_for('static', filename='js/src/extensions/accessibility/Accessibility.js') }}"
    import {PROMOTION_DIALOG_RESULT_TYPE, PromotionDialog} from "{{ url_for('static', filename='js/src/extensions/promotion-dialog/PromotionDialog.js') }}"

    // LOAD ANALYSIS RESULTS  -------------------------------------------------------------------------------------------
    console.log("Here");
    var moves = {{ move_list | safe }}
    var fens = {{ fen_list | safe }}
    var scores = {{ score_list | safe }}
    var classifications = {{ cls_list | safe }}
    var reviews = {{ review_list | safe }}
    var bestMoves = {{ best_move_list | safe }}
    var developments = {{ dev_list | safe }}
    var tensions = {{ ten_list | safe }}
    var mobilities = {{ mob_list | safe }}
    var controls = {{ cont_list | safe }}
    var eloPair = {{ elo_pair | safe }}
    var accPair = {{ acc_pair | safe }}

    // ORGANIZE MOVES

    document.getElementById('accuracy-white').innerHTML = accPair[0]+"%";
    document.getElementById('accuracy-black').innerHTML = accPair[1]+"%";
    document.getElementById('elo-white').innerHTML = eloPair[0];
    document.getElementById('elo-black').innerHTML = eloPair[1];

    for (const [i, move] of moves.entries()) {

        if ((i%2) == 0) {

            var movebarDiv = document.createElement('div');
            movebarDiv.className = 'movebar';
            document.getElementsByClassName('sidebar-right-moves')[0].appendChild(movebarDiv);

            var movenumDiv = document.createElement('div');
            movenumDiv.className = 'move-num';
            movenumDiv.innerHTML = Math.floor(i/2)+1;
            movebarDiv.appendChild(movenumDiv);

            var movewhiteDiv = document.createElement('div');
            movewhiteDiv.className = 'move-container';
            movewhiteDiv.innerHTML = move;
            movewhiteDiv.setAttribute('data-fen', fens[i]);
            movebarDiv.appendChild(movewhiteDiv);

        } else {

            var moveblackDiv = document.createElement('div');
            moveblackDiv.className = 'move-container';
            moveblackDiv.innerHTML = move;
            moveblackDiv.setAttribute('data-fen', fens[i]);
            movebarDiv.appendChild(moveblackDiv);

        }
    }

    if ((moves.length)%2 == 1) {
        var moveblackDiv = document.createElement('div');
        moveblackDiv.className = 'move-container-null';
        moveblackDiv.innerHTML = ''
        movebarDiv.appendChild(moveblackDiv);
    }

    // LOAD CHESSBOARD -------------------------------------------------------------------------------------------

    const chess = new Chess()

    const board = new Chessboard(document.getElementById("board"), {
        position: FEN.start,
        assetsUrl: "{{ url_for('static', filename='js/assets/') }}",
        extensions: [
            {class: Markers, props: {autoMarkers: MARKER_TYPE.square}},
            {class: PromotionDialog},
            {class: Accessibility, props: {visuallyHidden: false}}
        ]
    })

    //board.enableMoveInput(inputHandler) // This enables the move input
    
    function inputHandler(event) {
        console.log(event)
        if(event.type === INPUT_EVENT_TYPE.moveInputStarted || 
                event.type === INPUT_EVENT_TYPE.validateMoveInput) {
            return true // false cancels move
        }
    }

    board.enableMoveInput(inputHandler);
    
    // MOVES FUNCTIONALITY -------------------------------------------------------------------------------------------

    var moveDivs = document.querySelectorAll('.move-container');
    let currentIndex = -1;
    var evaluationBarCont = document.getElementById("eval-bar-container");
    var evalbarTip = document.getElementById("eval-bar-tip")

    // Add click event listener to each inner div

    function updateSelectedMove(selectedIndex) {

        moveDivs.forEach(
            function(div, index) {
                moveDivs[index].classList.remove('move-container-clicked');
            }
        )

        if (selectedIndex == -1) {
            setBoardFen('rnbqkbnr/pppppppp/8/8/8/8/PPPPPPPP/RNBQKBNR w KQkq - 0 1');
            updateEvaluationBar;
            document.getElementById("classification-text") = '';
        }

        moveDivs[selectedIndex].classList.add('move-container-clicked');

        setBoardFen(moveDivs[selectedIndex].getAttribute('data-fen'));

        updateEvaluationBar(selectedIndex)

        evalbarTip.innerHTML = scores[selectedIndex]/100;

        updateClassification(selectedIndex);

        updateReview(selectedIndex);

        updateDevBar(selectedIndex);

        updateTenBar(selectedIndex);

        updateMobBar(selectedIndex);

        updateContBar(selectedIndex);

        updateBestMove(selectedIndex);

    }

    function updateBestMove(index) {
        const bestMoveText = document.getElementById("best-move-text")
        if (classifications[index] !== 'book') {
            bestMoveText.innerHTML = bestMoves[index] + " is best.";
        } else if (classifications[index] == 'best') {
            bestMoveText.innerHTML = "";
        } else {
            bestMoveText.innerHTML = "";
        }
    }
    
    
    function updateDevBar(index) {
        const devBar = document.getElementById("dev-bar");
        // Map the score to the bar height (adjust the scale based on your scores)
        if ((developments[index][0] == 0) && (developments[index][1] == 0)) {
            devBar.style.width = "50%";
        } else {
            const barHeightPerc = (developments[index][0] / (developments[index][0] + developments[index][1]))*100;
            // Update the bar height with a smooth transition
            devBar.style.width = barHeightPerc + "%";
        }
    }

    function updateTenBar(index) {
        const devBar = document.getElementById("ten-bar");
        // Map the score to the bar height (adjust the scale based on your scores)
        if ((tensions[index][0] == 0) && (tensions[index][1] == 0)) {
            devBar.style.width = "50%";
        } else {
            const barHeightPerc = (tensions[index][0] / (tensions[index][0] + tensions[index][1]))*100;
            // Update the bar height with a smooth transition
            devBar.style.width = barHeightPerc + "%";
        }
    }

    function updateMobBar(index) {
        const devBar = document.getElementById("mob-bar");
        // Map the score to the bar height (adjust the scale based on your scores)
        if ((mobilities[index][0] == 0) && (mobilities[index][1] == 0)) {
            devBar.style.width = "50%";
        } else {
            const barHeightPerc = (mobilities[index][0] / (mobilities[index][0] + mobilities[index][1]))*100;
            // Update the bar height with a smooth transition
            devBar.style.width = barHeightPerc + "%";
        }
    }

    function updateContBar(index) {
        const devBar = document.getElementById("cont-bar");
        // Map the score to the bar height (adjust the scale based on your scores)
        if ((controls[index][0] == 0) && (controls[index][1] == 0)) {
            devBar.style.width = "50%";
        } else {
            const barHeightPerc = (controls[index][0] / (controls[index][0] + controls[index][1]))*100;
            // Update the bar height with a smooth transition
            devBar.style.width = barHeightPerc + "%";
        }
    }

    moveDivs.forEach(function(div, index) {
        div.addEventListener('click', function() {
            // Pass the id as a parameter to the onclick function
            updateSelectedMove(index);
            currentIndex = index;
        });
    });

    function updateClassification(index) {
        var classificationText = document.getElementById("classification-text");
        var cls = classifications[index];

        if (cls.includes("excellent")) {
            classificationText.style.color = '#6cb400'
            classificationText.innerHTML = moves[index] + " is " + cls;
        } else if (cls.includes("good")) {
            classificationText.style.color = '#758358'
            classificationText.innerHTML = moves[index] + " is " + cls;
        } else if (cls.includes("inaccuracy")) {
            classificationText.style.color = '#ffff00'
            classificationText.innerHTML = moves[index] + " is an " + cls;
        } else if (cls.includes("mistake")) {
            classificationText.style.color = '#ff9500'
            classificationText.innerHTML = moves[index] + " is a " + cls;
        } else if (cls.includes("blunder")) {
            classificationText.style.color = '#ff0000'
            classificationText.innerHTML = moves[index] + " is a " + cls;
        } else if (cls.includes("best")) {
            classificationText.style.color = '#6cb400'
            classificationText.innerHTML = moves[index] + " is " + cls;
        } else if (cls.includes("book")) {
            classificationText.style.color = 'gray'
            classificationText.innerHTML = moves[index] + " is a book move";
        } else if (cls.includes("forced")) {
            classificationText.style.color = 'gray'
            classificationText.innerHTML = moves[index] + " is " + cls;
        } else if (cls.includes("brilliant")) {
            classificationText.style.color = '#2681ff'
            classificationText.innerHTML = moves[index] + " is brilliant!";
        }
    }

    function updateReview(index) {
        var reviewText = document.getElementById("review-text");
        reviewText.innerHTML = reviews[index];
    }

    function setBoardFen(fen) {
        board.setPosition(fen, true);
    }

    // Function to update the evaluation bar based on the score
    function updateEvaluationBar(index) {
        var score = scores[index];
        const evaluationBar = document.getElementById("eval-bar");
        // Map the score to the bar height (adjust the scale based on your scores)
        const barHeightPerc = (-score/20)+50;

        // Update the bar height with a smooth transition
        evaluationBar.style.height = barHeightPerc + "%";
    }
    
    // Show the tooltip on hover
    evaluationBarCont.addEventListener("mouseover", function () {
        evalbarTip.style.display = "block";
    });

    // Hide the tooltip when not hovering
    evaluationBarCont.addEventListener("mouseout", function () {
        evalbarTip.style.display = "none";
    });
    

    // Function to navigate to the previous move
    function goToPreviousMove() {
        if (currentIndex >= 0) {
            currentIndex--;
            updateSelectedMove(currentIndex);
        }
    }

    // Function to navigate to the next move
    function goToNextMove() {
        if (currentIndex < moveDivs.length - 1) {
            currentIndex++;
            updateSelectedMove(currentIndex);
        }
    }

    var nextmoveDiv = document.getElementsByClassName('arrow-container-right')[0];
    nextmoveDiv.addEventListener('click', function() {
        goToNextMove();
    });

    var prevmoveDiv = document.getElementsByClassName('arrow-container-left')[0];
    prevmoveDiv.addEventListener('click', function() {
        goToPreviousMove();
    });


</script>

</html>