<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cm-chessboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/assets/chessboard.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/examples/styles/examples.css') }}"/>
    <link href="{{ url_for('static', filename='js/assets/pieces/standard.svg') }}">
    <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0"/>
</head>
<body>
<h1>cm-chessboard</h1>


<p><i>A JavaScript chessboard which is lightweight, ES6 module based, responsive, SVG rendered and without dependencies.</i></p>
<p>cm-chessboard is the chessboard of <a href="https://www.chessmail.de">chessmail</a> and is used every day by thousands of players.
It works, it is cool and it is easy to use. 👍</p>
<p><a href="https://github.com/shaack/cm-chessboard">Repository and documentation on GitHub</a></p>

<h2>Chessboard</h2>
<div class="board" id="board"></div>
<script type="module">
    import {Chessboard} from "{{ url_for('static', filename='js/src/Chessboard.js') }}"
    import {FEN} from "{{ url_for('static', filename='js/src/model/Position.js') }}"
    import {Chess} from "https://cdn.jsdelivr.net/npm/chess.mjs@1/src/chess.mjs/Chess.js"

    const chess = new Chess()
    const board = new Chessboard(document.getElementById("board"), {
        position: FEN.start
    })
    const interval = setInterval(() => {
        makeRandomMove()
        board.setPosition(chess.fen(), true)
    }, 500)
    function makeRandomMove() {
        if(chess.game_over()) {
            chess.reset()
        }
        const possibleMoves = chess.moves()
        console.log(possibleMoves)
        if (possibleMoves.length === 0) {
            clearInterval(interval)
            return
        }
        const randomIndex = Math.floor(Math.random() * possibleMoves.length)
        chess.move(possibleMoves[randomIndex])
    }
</script>
</body>
</html>
